<header class="conainer-fluid">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4 logo">
                    <img src="assets/images/logo.png" alt="">
                </div> -->
                <div class="col-sm-8 d-none d-md-block clldetal">
                    <ul>
                        <li class="bgb"><i class="far fa-clock"></i> 09:00AM — 05:00PM</li>
                        <li class="bgb"><i class="fas fa-phone-alt"></i> +1 323-913-4688</li>
                        <li class="d-none d-lg-block"><button type="button" class="btn btn-outline-info">Get a Free Quote</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>