<section id="about" class="contianer-fluid about-us">
    <div class="container">
         <div class="row">
             <div class="col-md-7 text">
                 <h2>About Smart Traveler</h2>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. dummy text of the printing and  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.dummy text of the has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                
             </div>
             <div class="col-md-5 center image">
                 <img src="assets/images/about.jpg" alt="">
             </div>
         </div>
    </div>
</section>   
    
    
 <!-- ################# Our Team Starts Here#######################--->
 <section class="our-team">
     <div class="container">
         <div class="session-title row">
             <h2>Our Team</h2>
            
         </div>
         <div class="row team-row">
             <div class="col-md-3 col-sm-6">
                 <div class="single-usr">
                     <img src="assets/images/team/team-memb1.jpg" alt="">
                     <div class="det-o">
                         <h4>David Kanuel</h4>
                         <i>Facial Surgan</i>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6">
                 <div class="single-usr">
                     <img src="assets/images/team/team-memb2.jpg" alt="">
                     <div class="det-o">
                         <h4>David Kanuel</h4>
                         <i>Facial Surgan</i>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6">
                 <div class="single-usr">
                     <img src="assets/images/team/team-memb3.jpg" alt="">
                     <div class="det-o">
                         <h4>David Kanuel</h4>
                         <i>Facial Surgan</i>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 col-sm-6">
                 <div class="single-usr">
                     <img src="assets/images/team/team-memb4.jpg" alt="">
                     <div class="det-o">
                         <h4>David Kanuel</h4>
                         <i>Facial Surgan</i>
                     </div>
                 </div>
             </div>
         </div>
     </div>


 </section>       