<!-- Navbar -->
<nav style="z-index: 100;" class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div style="padding: 5px;" class="container-fluid">
      <!-- Toggle button -->
      <button 
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        [matMenuTriggerFor]="menu"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div style="justify-content: center;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->

        <!-- Left links -->
        <ul style="font-size: 18px;margin-right: 0px!important;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/packages">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateTo('/home')">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="navigateTo('/packages')">
          <mat-icon>near_me</mat-icon>
          <span>Packages</span>
        </button>
        <button mat-menu-item (click)="navigateTo('/services')">
          <mat-icon>notifications_off</mat-icon>
          <span>Services</span>
        </button>
        <button mat-menu-item (click)="navigateTo('/about-us')">
          <mat-icon>record_voice_over</mat-icon>
          <span>About Us</span>
        </button>
        <button mat-menu-item (click)="navigateTo('/contact-us')">
          <mat-icon>question_answer</mat-icon>
          <span>Contact us</span>
        </button>
      </mat-menu>
      <!-- Right elements -->
    </div>


    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->