<section class="out-services container-fluid">
    <div class="container">
        <div class="session-title row">
            <h2>Our Services</h2>
            <p>when an unknown printer took a galley of type and scrambled it to make</p>
        </div>
        <div class="serv-row row">
            <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="fas fa-plane-departure"></i>
                   </div>
                   <div class="detail">
                       <h4>Wide Variety of Tours</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
             <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="far fa-heart"></i>
                   </div>
                   <div class="detail">
                       <h4>Highly Qualified Service</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
             <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="far fa-comments"></i>
                   </div>
                   <div class="detail">
                       <h4>24 x 7 Support</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
             <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="fas fa-dollar-sign"></i>
                   </div>
                   <div class="detail">
                       <h4>Attractive Packages</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
             <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="fas fa-map-marked-alt"></i>
                   </div>
                   <div class="detail">
                       <h4>Exciting Places</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
             <div class="col-md-4">
               <div class="serv-col">
                   <div class="icon">
                       <i class="fas fa-car"></i>
                   </div>
                   <div class="detail">
                       <h4>Wide Variety of Tours</h4>
                       <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                   </div>
               </div> 
            </div>
        </div>
    </div>
  </section>