<div class="slider container-fluid">
<!-- Carousel wrapper -->
<app-carousal-component></app-carousal-component>
<!-- Carousel wrapper -->
</div>
<div class="travel-destination container-fluid">
    <div class="container">
       
        <div class="destination-row row">
            <div *ngFor="let place of places" class="col-md-4 descol">
               <div class="destcol">
                   <img src="assets/images/destination/d1.jpg" alt="">
                   <div class="layycover">
                       <h4>{{place.name}} <span class="badge badge-info">5 Places</span></h4>
                   </div>
               </div>
            </div>
                       
        </div>
    </div>
</div>

   
<section id="about" class="contianer-fluid about-us">
  <div class="container">
       <div class="row">
           <div class="col-md-7 text">
               <h2>About Smart Traveler</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
               <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. dummy text of the printing and  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.dummy text of the has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              
           </div>
           <div class="col-md-5 center image">
               <img src="assets/images/about.jpg" alt="">
           </div>
       </div>
  </div>
</section>

    
<section class="out-services container-fluid">
  <div class="container">
      <div class="session-title row">
          <h2>Our Services</h2>
          <p>when an unknown printer took a galley of type and scrambled it to make</p>
      </div>
      <div class="serv-row row">
          <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="fas fa-plane-departure"></i>
                 </div>
                 <div class="detail">
                     <h4>Wide Variety of Tours</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
           <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="far fa-heart"></i>
                 </div>
                 <div class="detail">
                     <h4>Highly Qualified Service</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
           <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="far fa-comments"></i>
                 </div>
                 <div class="detail">
                     <h4>24 x 7 Support</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
           <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="fas fa-dollar-sign"></i>
                 </div>
                 <div class="detail">
                     <h4>Attractive Packages</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
           <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="fas fa-map-marked-alt"></i>
                 </div>
                 <div class="detail">
                     <h4>Exciting Places</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
           <div class="col-md-4">
             <div class="serv-col">
                 <div class="icon">
                     <i class="fas fa-car"></i>
                 </div>
                 <div class="detail">
                     <h4>Wide Variety of Tours</h4>
                     <p>Our unique matching system lets you find just the tour you want for your next holiday</p>
                 </div>
             </div> 
          </div>
      </div>
  </div>
</section>
<div class="popular-pack  container-fluid">
  <div class="container">
      <div class="session-title row">
          <h2>Popular packages</h2>
          <p>when an unknown printer took a galley of type and scrambled it to make</p>
      </div>
      <div class="row pack-row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="pack-col">
                  <img src="assets/images/packages/p1.jpg" alt="">
                  <div class="revire row no-margin">
                      <ul class="rat">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                      </ul>
                      <span class="pric">
                          $750
                      </span>
                  </div>
                  <div class="detail row no-margin">
                      <h4>Amazon Cruise</h4>
                      <p>Mattis interdum nunc massa. Velit. Nonummy penatibus</p>
                  </div>
                  <div class="options row no-margin">
                      <ul>
                          <li><i class="fas fa-car"></i></li>
                          <li><i class="fab fa-fly"></i></li>
                          <li><i class="fas fa-cocktail"></i></li>
                          <li><i class="fas fa-umbrella-beach"></i></li>
                          <li><i class="far fa-bell"></i></li>
                      </ul>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="pack-col">
                  <img src="assets/images/packages/p2.jpg" alt="">
                  <div class="revire row no-margin">
                      <ul class="rat">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                      </ul>
                      <span class="pric">
                          $750
                      </span>
                  </div>
                  <div class="detail row no-margin">
                      <h4>Amazon Cruise</h4>
                      <p>Mattis interdum nunc massa. Velit. Nonummy penatibus</p>
                  </div>
                  <div class="options row no-margin">
                      <ul>
                          <li><i class="fas fa-car"></i></li>
                          <li><i class="fab fa-fly"></i></li>
                          <li><i class="fas fa-cocktail"></i></li>
                          <li><i class="fas fa-umbrella-beach"></i></li>
                          <li><i class="far fa-bell"></i></li>
                      </ul>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="pack-col">
                  <img src="assets/images/packages/p3.jpg" alt="">
                  <div class="revire row no-margin">
                      <ul class="rat">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                      </ul>
                      <span class="pric">
                          $750
                      </span>
                  </div>
                  <div class="detail row no-margin">
                      <h4>Amazon Cruise</h4>
                      <p>Mattis interdum nunc massa. Velit. Nonummy penatibus</p>
                  </div>
                  <div class="options row no-margin">
                      <ul>
                          <li><i class="fas fa-car"></i></li>
                          <li><i class="fab fa-fly"></i></li>
                          <li><i class="fas fa-cocktail"></i></li>
                          <li><i class="fas fa-umbrella-beach"></i></li>
                          <li><i class="far fa-bell"></i></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="pack-col">
                <img src="assets/images/packages/p3.jpg" alt="">
                <div class="revire row no-margin">
                    <ul class="rat">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span class="pric">
                        $750
                    </span>
                </div>
                <div class="detail row no-margin">
                    <h4>Amazon Cruise</h4>
                    <p>Mattis interdum nunc massa. Velit. Nonummy penatibus</p>
                </div>
                <div class="options row no-margin">
                    <ul>
                        <li><i class="fas fa-car"></i></li>
                        <li><i class="fab fa-fly"></i></li>
                        <li><i class="fas fa-cocktail"></i></li>
                        <li><i class="fas fa-umbrella-beach"></i></li>
                        <li><i class="far fa-bell"></i></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="what-people-say container-fluid">
  <div class="container">
      <div class="session-title row">
          <h2>What people say about Us</h2>
          <p>when an unknown printer took a galley of type and scrambled it to make</p>
      </div>
      <div class="what-people-say-row row">
          <div class="col-md-4">
              <div class="peole-col">
                  <img src="assets/images/testimonial/member-01.jpg" alt="">
                  <p>Sed sed mattis arcu, eget porttitor urna. Vestibulum ultricies varius suscipit. Quisque imperdiet justo at eleifend feugiat. In hac habitasse platea dictumst. Etiam in turpis in urna vulputate</p>
                  <h4>James Anderson</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="peole-col">
                  <img src="assets/images/testimonial/member-02.jpg" alt="">
                  <p>Sed sed mattis arcu, eget porttitor urna. Vestibulum ultricies varius suscipit. Quisque imperdiet justo at eleifend feugiat. In hac habitasse platea dictumst. Etiam in turpis in urna vulputate</p>
                  <h4>Philip Jasmes</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="peole-col">
                  <img src="assets/images/testimonial/member-03.jpg" alt="">
                  <p>Sed sed mattis arcu, eget porttitor urna. Vestibulum ultricies varius suscipit. Quisque imperdiet justo at eleifend feugiat. In hac habitasse platea dictumst. Etiam in turpis in urna vulputate</p>
                  <h4>Jason Rose</h4>
              </div>
          </div>
      </div>
  </div>
</div>  